<h2><%= @user.username.capitalize %>'s Goals</h2>

<form action="<%= user_goals_url(@user) %>" method="post">
  <%= auth_token %>

  <label>Title
    <input type="text" name="goal[title]">
  </label><br>

  <label>Description
    <textarea name="goal[body]"></textarea>
  </label><br>

  <label>Private?
    <input type="radio" name="goal[is_private]">
  </label><br>

  <input type="submit" value="Add Goal">
</form>

<table>
  <tr>
    <th> Title </th>
    <th width="100"> Description </th>
    <th> Privacy </th>
    <th> Status </th>
    <th></th>
  </tr>

  <% @user.goals.each do |goal| %>
    <% next if goal.private? && (current_user.id != @user.id || !curent.user.admin?) %>
    <tr>
      <td> <%= goal.title %> </td>
      <td> <%= goal.body %></td>
      <td> <%= goal.private? ? "Private" : "Public" %></td>
      <td> <%= goal.completed? ? "Complete" : "Incomplete" %></td>

      <% if can_delete?(@user) %>
        <td>
          <%= button_to "Delete Goal", goal_url(goal), method: :delete %>
        </td>
      <% end %>

      <% if current_user.id == @user.id %>
        <td>
          <%= link_to "Edit Goal", edit_goal_url(goal) %>
        </td>
      <% end %>

      <% if current_user.id == @user.id && !goal.completed? %>
        <td>
          <%= button_to "Complete",
            goal_completion_url(goal),
            method: :put %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>